{% extends '../partials/layout.html' %}
{% block title %} 로그인 {% endblock %}
{% block content %}
	{% include '../partials/nav.html' %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>	
			<div class="col-md-6" style="margin-top:30px;">
				{% if message.length > 0 %}
					<div class="alert alert-warning alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span></button>
						<strong>알림!</strong> {{ message }}.
					</div>
				{% endif %}
				<section class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h2><i class="fa fa-lock"></i>&nbsp; 사용자 로그인</h2>
						</div>
						<hr>
						<form action="/auth/login" name="loginForm" method="POST">
							<div class="form-group">
								<label for="uname">User Name</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" id="uname" name="username" placeholder="아이디" 
										   aria-describeby="basic-addon1" required="">

								</div>
							</div>
							<div class="form-group">
								<label for="pwd">Password</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2"><i class="fa fa-key"></i></span>
									<input type="password" class="form-control" id="pwd" name="password" placeholder="비밀번호" 
										   aria-describeby="basic-addon2" required="">
								</div>
							</div>
							<br>
							<button class="btn btn-primary btn-block btn-lg" type="submit">
								<i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp; Login</button>
							<hr>
							<a href="/auth/facebook" class="btn btn-info btn-block btn-lg">
								<i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp; Facebook Login</a>
							<br>
							<a href="/auth/google" class="btn btn-danger btn-block btn-lg">
								<i class="fa fa-google" aria-hidden="true"></i> &nbsp;&nbsp; Google Login</a>

						</form>
					</div>
				</section>
			</div>
		</div>
		
	</div>
{% endblock %}