{% extends '../partials/layout.html' %}
{% block title %} 사용자 프로필 {% endblock %}
{% block content %}
	{% include '../partials/nav.html' %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>	
			<div class="col-md-6" style="margin-top:30px;">
				<section class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h2><i class="fa fa-user"></i>&nbsp; 사용자 프로필</h2>
						</div>
						<hr>
						<div class="text-center">
							<img src="{{ avatar }}" alt="아바타이미지" class="img-circle">
							<div>
								<h4>{{ user.displayName }}</h4>
								<p>
									<strong>Username</strong>: {{ user.username }} <br>
									<strong>Email</strong>: {{ user.email }} <br>
								</p>
								<a href="/auth/logout" class="btn btn-warning btn-lg btn-block">
									<i class="glyphicon glyphicon-log-out"></i>&nbsp;로그아웃
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}