//- header.pug
doctype html
html(lang=ko)
	head
		meta(charset='utf-8')
		title Server Side Javascript
		link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css', rel='stylesheet' )
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		link(href='/css/style.css' rel='stylesheet')
	body
		include ./navbar.pug
		div.container
			block content
		block foot
			footer#footer
				div.container
					p.text-muted 2017 Server Side JavaScript by Whoisy Wow
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		block scripts