//- register.pug - 회원가입 폼
extends partials/base.pug

block content
	div.page-header
	div.row
		div.col-md-3
		div.col-md-6
			article.panel.panel-default
				div.panel-body
					div.text-center
						h2 
							i.fa.fa-user-plus
							| &nbsp; Register
					hr
					form(name="signinForm" action="/auth/register" method="POST")
						div.form-group
							label(for="uname") User Name
							div.input-group
								span.input-group-addon#basic-addon1
									i.glyphicon.glyphicon-user
								input.form-control#uname(type='text' name='username' placeholder='아이디' aria-describeby='basic-addon1' required='required')
						div.form-group
							label(for="pwd") Password
							div.input-group
								span.input-group-addon#basic-addon2
									i.glyphicon.glyphicon-lock
								input.form-control#pwd(type='password' name='password' placeholder='비밀번호' aria-describeby='basic-addon2' required='required')
						div.form-group
							label(for="dname") Display Name
							div.input-group
								span.input-group-addon#basic-addon3
									i.glyphicon.glyphicon-eye-open
								input.form-control#dname(type='text' name='displayName' placeholder='이름' aria-describeby='basic-addon3' required='required')
						div.form-group
							label(for="email") Email
							div.input-group
								span.input-group-addon#basic-addon3
									i.fa.fa-envelope
								input.form-control#email(type='email' name='email' placeholder='메일 주소' aria-describeby='basic-addon3' required='required')
						br
						button.btn.btn-primary.btn-block.btn-lg(type='submit')
							i.glyphicon.glyphicon-check
							| &nbsp;&nbsp; Singin
		