doctype html
html(lang='ko')
	head
		meta(charset='utf-8')
		title 작성폼
		style(type='text/css').
			body { 
				margin:0; padding:0;
				background: #dfdfdf;
				color: #333;
			}
			.container {
				width: 600px;
				margin: 20px auto;
				padding: 10px;
				background: #fff;
			}
			.container h1 {
				text-align:center;
			}
			.container .btn {
				text-align: right;
				padding: 5px 10px;
			}
			
			.container ul {
				list-style:none;
				border:1px solid #dfdfdf;
				border-bottom:0;
				margin:0; padding:0;
			}
			.container li {
				list-style:none;
			}
			.container li a {
				display:block;
				font-size:1.2em;
				color: teal;
				text-transform:capitalize;
				text-decoration:none;
				padding: 5px 10px 5px 15px;
				border-bottom:1px solid #dfdfdf;
			}
			.container li a:hover {
				background-color: #DFDFDF;
				font-weight:bold;
			}

			.container article {
				border:1px solid #dfdfdf;
				margin-top:10px;
				padding: 0  10px 10px;
			}
			.container h2 {
				text-transform:capitalize;
				color:#666;
				margin: 10px 0;
				padding: 0 10px 10px;
				border-bottom: 1px solid #dfdfdf;
			}
			.container .btn a {
				display:inline-block;
				text-transform:uppercase;
				text-decoration:none;
				font-size:1.2em;
				line-height:1.2em;
				font-weight:bold;
				padding:5px 10px;
				background-color:#76797c;
				color:#fff;
				border-radius:4px;
			}
			.container .btn a:hover {
				background-color:#7a6a56;
			}
	body
		div.container
			h1 
				Server Side JavaScript
			div.btn
				a(href='/topic') List
				| &nbsp;&nbsp;
				a(href='/topic/new') New
			ul
				each topic in topics
					li
						a(href='/topic/'+ topic )= topic
			article
				h2= title
				p !{description.replace(/\n/g, '<br/>')}