{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}
	{% include '../partials/nav.html' %}
	<div class="container">
		<div class="page-header">
			<h1>{{ title }}</h1>
		</div>
		<div class="row">
			<div class="col-md-3">
				<ul class="list-group topic-list">
					{% for topic in topics %}
					<li class="list-group-item">
						<a href="/topic/{{ topic.id }}">{{ topic.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-9">
				<section class="jumbotron text-center">
					<h3 class="jumbotron-heading">Welcome to {{ title }}</h3>
					<p class="text-lead text-muted">
						{% if whoami %}
							안녕하세요!, {{ whoami }} 님
						{% else %}
							반나서 반갑습니다!
						{% endif %}
					</p>
					<a href="/topic" class="btn btn-info">토픽</a>
				</section>
			</div>
		</div>
	</div>
{% endblock %}